on:
  workflow_dispatch:
  push:
    branches: main

name: quarto-publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Python dependencies
        run: |
          uv export --frozen > requirements.txt
          uv pip install -r requirements.txt
          rm requirements.txt
        env:
          UV_SYSTEM_PYTHON: 1

      - name: Install system dependencies
        run: sudo apt-get install -y hunspell libglpk-dev

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.5.2'

      - name: Install rv
        run: curl -sSL https://raw.githubusercontent.com/A2-ai/rv/refs/heads/main/scripts/install.sh | bash

      - name: Install R dependencies
        run: rv sync

      - name: Expose R to jupyter kernel
        shell: Rscript {0}
        run: IRkernel::installspec(user = FALSE)

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
